<div class="form-container">
    <h2>Fazer Locação</h2>

    <label for="cliente">Selecione o Cliente:</label>
    <select id="cliente" [(ngModel)]="clienteSelecionado" required>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{ cliente.nome }}</option>
    </select>

    <label for="lancha">Selecione a Lancha:</label>
    <select id="lancha" [(ngModel)]="lanchaSelecionada" (change)="calcularValorTotal()" required>
        <option *ngFor="let lancha of lanchas" [ngValue]="lancha">{{ lancha.modelo }}</option>
    </select>

    <label for="dias">Quantidade de Dias:</label>
    <input type="number" id="dias" [(ngModel)]="quantidadeDias" (change)="calcularValorTotal()" min="1" required />

    <div class="total-valor">
        <strong>Valor Total: R$ {{ valorTotal }}</strong>
    </div>

    <button (click)="fazerLocacao()">
        Locar Lancha
    </button>
</div>
